{% comment %}
  Gallery zoom modal
  Variables: section
{% endcomment %}
<div class="pfc-gallery__zoom-modal" id="pfc-zoom-modal-{{ section.id }}">
  <div class="pfc-gallery__zoom-modal-content">
    <button class="pfc-gallery__zoom-modal-close" aria-label="Close">&times;</button>
    <img id="pfc-zoom-img-{{ section.id }}" alt="" width="1024" height="1024" loading="lazy" decoding="async" />
  </div>
</div>

